/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans';

}

.App {
    text-align: center;
    min-height: 100vh;
    font-family:'Open Sans';
    margin: 16px;
}


.header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

#root {
    height: 100%;
    padding: 0 10vw;
}